<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">jsinterop-demo</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="server">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Server Demo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="wasm">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Wasm Demo
            </NavLink>
        </div>
    </nav>
</div>

